extends ./../layouts/main.pug

block variables
  - var pageTitle = "About"

block content
  h1 About - node template engine
  #container.col
    p You are amazing
    p
      | Jade is a terse and simple
      | templating language with a
      | strong focus on performance
      | and powerful features.
  .container1
    p its about
