doctype html
html(lang='ru')
  head
    title Jade
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
    .container1
        p 1245
    img(src="./img/bike.svg" alt="")
    img(src="./img/bus.svg" alt="")
    img(src="./img/about-desktop@1x.png" alt="")